{% extends 'base-layout.html.twig' %}

{% block title %}Statistique{% endblock %}
{% block header %}Statistique{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block body %}
    

      <div class="container">
        
    </div>
          <!--begin::Row-->
      <div class="container-fluid">
          <div class="row">
           
                <div class="col-md-6 col-lg-6">
                    <div class="h4 m-0 mb-3"><span class="mx-5">Période</span><span class="">50</span></div>
                    <div class="h4 m-0 mb-3"><span class="mx-5">Utilisateur</span><span class="">50</span></div>

               </div>
                  <!--/.col-->
	
          </div>
       
          <div class="row mt-5">
             <div class="col-md-6 col-lg-6">
			<div class="card bg-flat-color-2 text-light">
				<div class="card-body">
					<div class="h4 m-0 mb-3">$98.111,00</div>
					<div>Lorem ipsum...</div>
					<div class="progress-bar bg-light mt-2 mb-2" role="progressbar" style="width: 20%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
					<small class="text-light">Lorem ipsum dolor sit amet enim.</small>
				</div>
			</div>
		</div>
		<!--/.col-->
	
		<div class="col-md-6 col-lg-6">
			<div class="card bg-flat-color-2 text-light">
				<div class="card-body">
					<div class="h4 m-0 mb-3">$98.111,00</div>
					<div>Lorem ipsum...</div>
					<div class="progress-bar bg-light mt-2 mb-2" role="progressbar" style="width: 20%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
					<small class="text-light">Lorem ipsum dolor sit amet enim.</small>
				</div>
			</div>
		</div>
		<!--/.col-->
          </div>

          <div class="row mt-5">
                <div class="col-md-6 col-lg-6">
                    <div class="h4 m-0 mb-3"><span class="mx-5">Accordé</span><span class="">50</span></div>
                    <div class="h4 m-0 mb-3"><span class="mx-5">en cour de validation</span><span class="">50</span></div>
                    <div class="h4 m-0 mb-3"><span class="mx-5">rejeté</span><span class="">50</span></div>

               </div>
            <!--/.col-->

                <div class="col-md-6 col-lg-6">
                    <div class="h4 m-0 mb-3"><span class="mx-5">Promesse</span><span class="">50</span></div>
                    <div class="h4 m-0 mb-3"><span class="mx-5">Effectue</span><span class="">50</span></div>

               </div>
            <!--/.col-->
          </div>
            
          <div class="row mt-5">
                <div class="col-lg-9 mt-4 mt-lg-0 mt-5">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Architecto ut aperiam autem id</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Et blanditiis nemo veritatis excepturi</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                                <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                                <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                            </div>
                            
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam s</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-6">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam s</h3>
                                <p class="fst-italic">Omnis blaqui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                          
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-7">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reidae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-8">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exe qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-9">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exe qui. Ipsum el</p>
                            </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                        <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Période</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">6 Dermiers mois</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3"> Communauté</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4"> Catégorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5"> Localité</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-7"> Motif</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Accordées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-9">Annulées</a>
                        </li>
                        </ul>
                </div>

                <div class="col-lg-9 mt-4 mt-lg-0 mt-5">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-10">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Architecto ut aperiam autem id</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-11">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Et blanditiis nemo veritatis excepturi</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-12">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                                <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                            </div>
                            
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-13">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                                <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-14">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam s</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-15">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam s</h3>
                                <p class="fst-italic">Omnis blaqui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-16">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reidae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                           
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-17">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exe qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                            
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-18">
                            <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exe qui. Ipsum el</p>
                            </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                        <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-10">Période</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-11">6 Dermiers mois</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-12"> Communauté</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-13"> Catégorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-14"> Localité</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-15"> Motif</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-16">Accordées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-17">Annulées</a>
                        </li>
                        </ul>
                </div>
         </div>
     </div>
							
{% endblock %}
{% block java %}
  

 <script>

 let categories = document.querySelector("#categories")
    let categGraph = new Chart(categories, {
        type: "pie",
        data: {
            labels:["cat1","cat1","cat3"],
            datasets: [{
                label: "Répartition des catégories",
                data: [4,5,10],
                backgroundColor:["red","green","bleu"],
            }]
        }
    })

    //     let categories = document.querySelector("#categories")
//     let categGraph = new Chart(categories, {
//         type: "pie",
//         data: {
//             labels: {{ }},
//             datasets: [{
//                 label: "Répartition des catégories",
//                 data: {{ categCount|raw }},
//                 backgroundColor: {{ }}
//             }]
//         }
//     })

//     let annonces = document.querySelector("#annonces")
//     let annGraph = new Chart(annonces, {
//         type: "line",
//         data: {
//             labels: {{ dates|raw }},
//             datasets: [{
//                 label: "Nombre d'annonces",
//                 data: {{ annoncesCount|raw }}
//             }]
//         },
//         options: {
//             scales: {
//                 yAxes: [{
//                     ticks: {
//                         beginAtZero: true
//                     }
//                 }]
//             }
//         }
//     })

 </script>
{% endblock %}

