{% block page_content %}


<div class="modal-body">
  x
</div>
<div class="modal-footer">
    <button type="button" class="btn dark btn-outline" data-bs-dismiss="modal">Fermer</button>
</div>

{% endblock %}
{% block java %}
<script>

</script>
{% endblock %}