<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Resume</title>
</head>

<body>
    <div style="margin: 0 auto;display: block;width: 500px;">

        <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>User</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for audience in data %}

                     <tr>
                      <td>{{ audience.motif }}</td>
                      <td>{{ audience.motif }}</td>
                      <td>{{ audience.motif }}</td>
                    
                    </tr>
              
                {% endfor %}

                v
                   
                  
                  </tbody>
                </table>
       
    </div>
</body>