{% block page_content %}


<div class="modal-body">
    <table class="table table-bordered">
        <tbody>
      {% for audience in audiences %}

    <th>Motif</th>
    <td>{{ audience.motif }}</td>
        
      {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn dark btn-outline" data-bs-dismiss="modal">Fermer</button>
</div>

{% endblock %}
{% block java %}
<script>

</script>
{% endblock %}