 {% block body %}
    <div class="card card-tabs card-stretch card-custom card-sticky">
        <div class="card-header card-header-stretch card-header-custom">
            <h3 class="card-title"> Pyramide des âges</h3>
        </div> 
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div id="container"></div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
               
        </div> 
    </div>
{% endblock %}

{% block java %}
    
    <script>
        $(function () {
            load_data();
            function load_data(filters = []) {
                $.getJSON("{{ path('app_rh_dashboard_pyramide_age_data') }}", {filters: filters}, function (data) {
                    var categories = [
                        '0-4', '5-9', '10-14', '15-19',
                        '20-24', '25-29', '30-34', '35-39', '40-44',
                        '45-49', '50-54', '55-59', '60-64', '65-69',
                        '70-74', '75-79', '80-84', '85-89', '90-94',
                        '95-99', '100 + '
                    ];

                 c
            }


        });
    </script>
{% endblock %}